<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= react_component("HelloMessage", { name: "Hello" }) %>
<%= javascript_pack_tag 'hello_react' %>

<%= render 'form' %>

<%= link_to 'All Pages', story_pages_path %>

<%= image_tag(@page.image.url, alt: 'Image') if @page.image? %>




