<% content_for :title, "ELP Story Maker" %>
<%= render './layouts/navbar' %>
<div style="height:70px"></div>
<div class="stories-container">
  <% @stories.each do |story| %>
      <% img_url = story.image.url ? story.image.url : "https://kitt.lewagon.com/placeholder/cities/berlin" %>
      <div class="story-card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= img_url %>');">
        <%= link_to story_path(story), method: :delete, data: { confirm: 'Are you sure?' }, :class =>"btn-delete" do %>
          <i class="fa fa-trash"></i>
        <% end %>

        <%= link_to story_path(story),:class => "title" do %>
          <%= story.title  %>
        <% end %>

        <% if false %>
        <div><%= story.category %></div>
        <%= link_to "View",story_path(story),:class => "bar"%>
        <% end %>

      </div>

  <% end %>
</div>
